details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

@keyframes scrollLeft {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 80px;
  }
}
